p {
    color:rgb(255, 255, 255);
    font-family: 'Sixtyfour Convergence', Courier, monospace
}
a {
    color:rgb(255, 255, 255);
    font-family: 'Sixtyfour Convergence', Courier, monospace
}
body {
    margin: 0;
    background-image: url("Reasons.png");
    text-align: center;
}
